# Mac
**/.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
logs/
*.log
*.err
*.out

# Python
**/__pycache__/
*.py[cod]

*tmp_jobs*

# Data
*.mat
*.fits
*.zip
*.tar.gz
*.pdf
*.png
*.txt
*.onnx

!data/3c353_gdth.fits
!data/3c353_meas_dt_1_seed_0.mat

# WSCLEAN
*.MS

# MATLAB
*.asv
*.prf
*.p12
*.pem

# ignore BM3D
/lib/bm3d/*

# Exception
# !*shelf*.csv
